h1,h2,h3 {
  margin: 20px 0 10px 0;
  text-align: center;
}

img {
  width: 250px;
  padding: 20px;
  border: 1px solid #5f9ea0;
  border-radius: 5px;
}

table {
  width: 500px;
  margin: 50px auto;
  border: 2px solid #a0a8aa;
  border-spacing: 0;
  border-radius: 5px;
  box-shadow: 0 0 3px hsla(0,0%,20%,0.75);
}

th {
  width: 250px;
  padding: 5px;
  text-align: center;
  border-bottom: 2px solid #a0a8aa;
}

td {
  padding: 5px;
  text-align: center;
  border-bottom: 2px solid #a0a8aa;
}

#images-holder {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  height: 450px
}

.buttons {
  display: block;
  padding: 5px 5px;
  margin: 15px auto;
  border: 1px solid #606361;
  border-radius: 5px;
  box-shadow: 0 0 5px #000;
 }

#click-counter {
  display: block;
  width: 30%;
  padding: 10px;
  margin: 20px auto;
  border: 1px solid #606361;
  border-radius: 5px;
  box-shadow: 0 0 5px #000;
}

.image-div {
  margin: 10px;
}

.instructions {
  text-align: justify;
  width: 60%;
  margin: 0 auto;
}

#results-wrapper {
  display: block;
  width: 85%;
  height: 500px;
  margin: 5px auto;
}

#marketer-wrapper {
  display: block;
  width: 85%;
  height: 500px;
  margin: 5px auto;
}
